.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-text-1 {
  font-family: Aldrich;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 33px auto 0;
}

.u-section-1 .u-image-1 {
  width: 175px;
  height: 175px;
  transition-duration: 0.5s;
  margin: 23px auto 0 258px;
}

.u-section-1 .u-image-2 {
  width: 175px;
  height: 175px;
  transition-duration: 0.5s;
  margin: -175px auto 0 51px;
}

.u-section-1 .u-image-3 {
  width: 175px;
  height: 175px;
  transition-duration: 0.5s;
  margin: -175px auto 60px 466px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-image-2 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-3 {
    margin-left: 365px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 165px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 165px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}